In [2]:
import pandas as pd
xls_data = pd.ExcelFile('AD_Bonus_08.2022-08.2023_Final.xlsx')
xls_structure = pd.ExcelFile('AD Structure.xlsx')

In [5]:
data = xls_data.parse('Data')
data.head()

,Territories,AD Code,AD Name,AD Grade,AD Status,Terdate,Date_Appointed,202208,202209,202210,...,202301,202302,202303,202304,202305,202306,202307,202308,Grand Total,Note Holding
0,South 3,A1000,Lê Minh Nhựt,ZD,Enforce,NaT,2023-01-12,NaN,NaN,NaN,...,NaN,NaN,346190.0,NaN,NaN,1536400.00,NaN,3000000.0,4.882590e+06,NaN
1,Central 1,A1001,Đặng Thị Thùy Trinh,SZD,Enforce,NaT,2023-01-18,NaN,NaN,NaN,...,NaN,NaN,NaN,49453547.9,51115816.2,17695943.52,NaN,NaN,1.182653e+08,NaN
2,South 1,A1007,Nguyễn Thị Cẩm Loan,ZD,Terminated,2023-08-29,2023-02-03,NaN,NaN,NaN,...,NaN,NaN,NaN,473500.0,NaN,NaN,NaN,NaN,4.735000e+05,NaN
3,North 1,A1012,Nguyễn Thị Bích Vân,SZD,Terminated,2023-06-26,2023-02-06,NaN,NaN,NaN,...,NaN,NaN,NaN,565925.0,NaN,NaN,NaN,NaN,5.659250e+05,NaN
4,North 1,A1014,Vũ Khắc Điệp,ZD,Terminated,2023-06-20,2023-02-06,NaN,NaN,NaN,...,NaN,NaN,NaN,332790.0,NaN,NaN,NaN,NaN,3.327900e+05,NaN

In [9]:
structure = xls_structure.parse('AD Structure')
structure.head()

,Territories,Code TD,Name TD,Code TAD,Name TAD,Code SRD,Name SRD,Code RD,Name RD,Code RAD,...,Sales Office,AD Code,AD Name,Grade,NOTE,Date Appointed,Date Terminated,Status,Gender,Email
0,Miền Nam 3,AD367,Hồng Khánh Hưng,NaN,NaN,NaN,NaN,AD421,Nguyễn Quý Nhân,NaN,...,Hồ Chí Minh,A1000,Lê Minh Nhựt,ZD,NaN,2023-01-12,NaT,Enforce,Male,nhut.le@phuhunglife.com
1,Miền Trung 1,NaN,NaN,NaN,NaN,AD163,Lê Thị Hân,NaN,NaN,AD214,...,Buôn Ma Thuột,A1001,Đặng Thị Thùy Trinh,SZD,NaN,2023-01-18,NaT,Enforce,Female,thuytrinh.dang@phuhunglife.com
2,Miền Trung 2,NaN,NaN,NaN,NaN,AD911,Lê Thị Thùy Linh,NaN,NaN,AD957,...,NaN,A1002,Cao Văn Tâm,ZD,NaN,2023-01-18,2023-08-21,Terminated,Male,tam.cao@phuhunglife.com
3,Miền Trung 2,NaN,NaN,NaN,NaN,AD911,Lê Thị Thùy Linh,AD943,Phạm Hòa,NaN,...,NaN,A1003,Đặng Thị Thúy Nga,ZD,NaN,2023-01-18,2023-02-16,Terminated,Female,nga.dang@phuhunglife.com
4,Miền Trung 2,NaN,NaN,NaN,NaN,AD911,Lê Thị Thùy Linh,AD943,Phạm Hòa,NaN,...,NaN,A1004,Vũ Thị Minh,ZD,NaN,2023-01-18,2023-07-27,Terminated,Female,minh.vu@phuhunglife.com

In [7]:
join = pd.merge(left = structure, right = data, how ='inner', left_on = 'AD Code', right_on = 'AD Code')
join.head()

,Territories_x,Code TD,Name TD,Code TAD,Name TAD,Code SRD,Name SRD,Code RD,Name RD,Code RAD,...,202301,202302,202303,202304,202305,202306,202307,202308,Grand Total,Note Holding
0,Miền Nam 3,AD367,Hồng Khánh Hưng,NaN,NaN,NaN,NaN,AD421,Nguyễn Quý Nhân,NaN,...,NaN,NaN,346190.0,NaN,NaN,1536400.00,NaN,3000000.0,4.882590e+06,NaN
1,Miền Trung 1,NaN,NaN,NaN,NaN,AD163,Lê Thị Hân,NaN,NaN,AD214,...,NaN,NaN,NaN,49453547.9,51115816.2,17695943.52,NaN,NaN,1.182653e+08,NaN
2,Miền Nam 1,NaN,NaN,AD098,Trần Trí Quang,NaN,NaN,AD949,Lại Thị Kim Chi,NaN,...,NaN,NaN,NaN,473500.0,NaN,NaN,NaN,NaN,4.735000e+05,NaN
3,Miền Bắc 1,AD992,Nguyễn Trí Dũng,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,565925.0,NaN,NaN,NaN,NaN,5.659250e+05,NaN
4,Miền Bắc 1,AD992,Nguyễn Trí Dũng,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,332790.0,NaN,NaN,NaN,NaN,3.327900e+05,NaN

In [20]:
territory = structure['Territories']
lst_terri = set([item for item in territory])
territory_2 = [terri for terri in lst_terri if "Miền" in terri]
final_terri = sorted(territory_2)
final_terri

['Miền Bắc 1',
 'Miền Bắc 2',
 'Miền Bắc 3',
 'Miền Bắc 5',
 'Miền Nam 1',
 'Miền Nam 2',
 'Miền Nam 3',
 'Miền Nam 5',
 'Miền Nam 6',
 'Miền Trung',
 'Miền Trung 1',
 'Miền Trung 2',
 'Miền Trung 3',
 'Miền Trung 5']

In [19]:
#South 3
south_3 = join[join['Territories_y'] == 'South 3']
with pd.ExcelWriter('Result.xlsx', mode='a') as writer:  
    south_3.to_excel(writer, sheet_name='South 3')

In [22]:
columns = []
for column in join.columns:
    columns.append(column)
print(columns)

['Territories_x', 'Code TD', 'Name TD', 'Code TAD', 'Name TAD', 'Code SRD', 'Name SRD', 'Code RD', 'Name RD', 'Code RAD', 'Name RAD', 'Code SZD', 'Name SZD', 'Code Office', 'Sales Office', 'AD Code', 'AD Name_x', 'Grade', 'NOTE', 'Date Appointed', 'Date Terminated', 'Status', 'Gender', 'Email', 'Territories_y', 'AD Name_y', ' AD Grade', ' AD Status', 'Terdate', 'Date_Appointed', 202208, 202209, 202210, 202211, 202212, 202301, 202302, 202303, 202304, 202305, 202306, 202307, 202308, 'Grand Total', 'Note Holding']

In [23]:
final_columns = ['Territories_x', 'Code TD', 'Name TD', 'Code TAD', 'Name TAD', 'Code SRD', 'Name SRD', 'Code RD', 'Name RD', 'Code RAD', 'Name RAD', 'Code SZD', 'Name SZD', 'AD Code', 'AD Name_x', 'Grade', 'Date Appointed', 'Date Terminated', 'Status', 'Terdate', 'Date_Appointed', 202208, 202209, 202210, 202211, 202212, 202301, 202302, 202303, 202304, 202305, 202306, 202307, 202308, 'Grand Total', 'Note Holding']
for territory in final_terri:
    mien = join[join['Territories_x'] == territory]
    check_mien = mien[final_columns].drop_duplicates()
    with pd.ExcelWriter('Result1.xlsx', mode='a') as writer:  
        check_mien.to_excel(writer, sheet_name=territory, index = False)

In [25]:
for territory in final_terri:
    mien = join[join['Territories_x'] == territory]
    check_mien = mien[final_columns].drop_duplicates()
check_mien

,Territories_x,Code TD,Name TD,Code TAD,Name TAD,Code SRD,Name SRD,Code RD,Name RD,Code RAD,...,202301,202302,202303,202304,202305,202306,202307,202308,Grand Total,Note Holding
6,Miền Trung 5,NaN,NaN,NaN,NaN,AD212,Lê Thị Thùy Dung,AD620,Nguyễn Đình Nam,NaN,...,NaN,NaN,NaN,613300.0,3353361.45,1257062.40,1603165.00,NaN,6.826889e+06,NaN
24,Miền Trung 5,NaN,NaN,NaN,NaN,AD212,Lê Thị Thùy Dung,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3436295.75,461651.20,NaN,NaN,3.897947e+06,NaN
33,Miền Trung 5,NaN,NaN,NaN,NaN,AD212,Lê Thị Thùy Dung,NaN,NaN,A1063,...,NaN,NaN,NaN,NaN,NaN,9860281.68,NaN,NaN,9.860282e+06,NaN
36,Miền Trung 5,NaN,NaN,NaN,NaN,AD212,Lê Thị Thùy Dung,AD620,Nguyễn Đình Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,381288.32,NaN,NaN,3.812883e+05,NaN
54,Miền Trung 5,NaN,NaN,NaN,NaN,AD212,Lê Thị Thùy Dung,NaN,NaN,A1063,...,NaN,NaN,NaN,NaN,NaN,13123595.10,11068820.75,NaN,2.419242e+07,NaN
55,Miền Trung 5,NaN,NaN,NaN,NaN,AD212,Lê Thị Thùy Dung,NaN,NaN,A1063,...,NaN,NaN,NaN,NaN,NaN,7750372.00,9667913.80,NaN,1.741829e+07,NaN
58,Miền Trung 5,NaN,NaN,NaN,NaN,AD212,Lê Thị Thùy Dung,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,871521.92,670839.50,NaN,1.542361e+06,NaN
66,Miền Trung 5,NaN,NaN,NaN,NaN,AD212,Lê Thị Thùy Dung,AD620,Nguyễn Đình Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,691731.20,640000.00,659515.0,1.991246e+06,NaN
73,Miền Trung 5,NaN,NaN,NaN,NaN,AD212,Lê Thị Thùy Dung,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33493387.20,34958866.00,872645.0,6.932490e+07,NaN
74,Miền Trung 5,NaN,NaN,NaN,NaN,AD212,Lê Thị Thùy Dung,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,144550.00,NaN,NaN,1.445500e+05,NaN
79,Miền Trung 5,NaN,NaN,NaN,NaN,AD212,Lê Thị Thùy Dung,AD620,Nguyễn Đình Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5861063.00,NaN,5.861063e+06,NaN
82,Miền Trung 5,NaN,NaN,NaN,NaN,AD212,Lê Thị Thùy Dung,NaN,NaN,A1063,...,NaN,NaN,NaN,NaN,NaN,NaN,35322984.80,NaN,3.532298e+07,NaN
162,Miền Trung 5,NaN,NaN,NaN,NaN,AD212,Lê Thị Thùy Dung,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1457875.68,NaN,NaN,6.656852e+06,NaN
188,Miền Trung 5,NaN,NaN,NaN,NaN,AD212,Lê Thị Thùy Dung,NaN,NaN,NaN,...,NaN,NaN,63182.0,NaN,NaN,NaN,NaN,NaN,6.318200e+04,NaN
190,Miền Trung 5,NaN,NaN,NaN,NaN,AD212,Lê Thị Thùy Dung,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.341423e+07,NaN
201,Miền Trung 5,NaN,NaN,NaN,NaN,AD212,Lê Thị Thùy Dung,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,822991.50,NaN,NaN,NaN,7.970938e+07,NaN
243,Miền Trung 5,NaN,NaN,NaN,NaN,AD212,Lê Thị Thùy Dung,NaN,NaN,NaN,...,28422012.0,20056180.8,NaN,NaN,NaN,NaN,NaN,NaN,7.182587e+07,NaN
257,Miền Trung 5,NaN,NaN,NaN,NaN,AD212,Lê Thị Thùy Dung,AD620,Nguyễn Đình Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,541810.56,NaN,NaN,1.671221e+06,NaN
271,Miền Trung 5,NaN,NaN,NaN,NaN,AD212,Lê Thị Thùy Dung,AD620,Nguyễn Đình Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.523579e+07,NaN